CascadeProjects/windsurf-project/n8n_weaver_mesh.json
{
  "name": "Weaver Nervous System — Akashic Entanglement Mesh",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "weaver-input",
        "responseMode": "responseNode"
      },
      "id": "input-gateway",
      "name": "1. Input Gateway",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 460],
      "notes": "Entry point — receives raw text/audio/vision input from VTV Core or external API calls. Triggers the full nervous system pipeline."
    },
    {
      "parameters": {
        "functionCode": "// ── AKASHIC HUB: Zero-State Vector Read ──\n// The hub is a shared 256-dimensional vector space.\n// Every lobe reads the SAME state simultaneously.\n// No serialization, no pub/sub delay.\n//\n// In production this is an in-process numpy array (akashic_hub.py).\n// In n8n we model it as a central data store that all branches read from.\n\nconst akashicState = {\n  quantum_soul: $json.quantum_state || null,\n  vtv_core: $json.vtv_state || null,\n  pineal_gate: $json.gate_state || null,\n  expert_states: $json.expert_states || {},\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: { ...akashicState, raw_input: $json.body?.text || $json.text || '' } }];"
      },
      "id": "akashic-hub",
      "name": "2. Akashic Hub (Vector State)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 460],
      "notes": "Central shared vector state — all lobes read from here simultaneously. Maps to akashic_hub.py AkashicHub class. dim=256, trace_depth=32."
    },
    {
      "parameters": {
        "functionCode": "// ── LIQUID FRACTURE ENGINE ──\n// Shatters the input across 5 semantic dimensions using\n// Liquid Time-Constant (LTC) neural network dynamics.\n//\n// ODE: dx/dt = -x/τ(input) + tanh(W_in·z + W_rec·x + b)\n// τ adapts to input — that's the liquid property.\n//\n// Maps to liquid_fracture.py LiquidFractureEngine class.\n\nconst input = $json.raw_input;\nconst dimensions = ['logic', 'emotion', 'memory', 'creativity', 'vigilance'];\n\n// Fracture weights (in production these come from the LTC ODE)\nconst shards = dimensions.map(dim => ({\n  dimension: dim,\n  weight: 0.0,\n  tau: 1.0,\n  text: input\n}));\n\n// Keyword-based affinity scoring (simplified from HashingVectorizer)\nconst seeds = {\n  logic: ['because','therefore','step','plan','calculate','structure'],\n  emotion: ['feel','love','hate','fear','joy','pain','beautiful','soul'],\n  memory: ['remember','last time','before','history','previously','recall'],\n  creativity: ['imagine','create','design','invent','dream','recipe','verse'],\n  vigilance: ['danger','risk','careful','threat','warning','suspicious']\n};\n\nconst lower = input.toLowerCase();\nlet total = 0;\nshards.forEach(s => {\n  s.weight = seeds[s.dimension].filter(kw => lower.includes(kw)).length + 0.1;\n  total += s.weight;\n});\nshards.forEach(s => s.weight /= total);\nshards.sort((a, b) => b.weight - a.weight);\n\nreturn [{ json: { shards, raw_input: input, akashic: $json } }];"
      },
      "id": "liquid-fracture",
      "name": "3. Liquid Fracture Engine",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [760, 460],
      "notes": "Fractures input into 5 dimensional shards with liquid-adaptive routing weights. Maps to liquid_fracture.py. Uses LTC ODE with input-dependent time constants."
    },
    {
      "parameters": {
        "functionCode": "// ── YDN PINEAL GATE: Sparse Top-K MoE Router ──\n// Selects top-3 expert lobes from the 5 available.\n// Uses geometric interference from pentagon vertex mapping.\n//\n// Maps to pineal_gate.py PinealGate class.\n\nconst shards = $json.shards;\nconst topK = 3;\nconst activated = shards.slice(0, topK);\nconst skipped = shards.slice(topK);\n\n// Pentagon vertex angles (sacred geometry routing)\nconst angles = [0, 1.2566, 2.5133, 3.7699, 5.0265]; // 2π/5 apart\nconst dimIndex = { logic: 0, emotion: 1, memory: 2, creativity: 3, vigilance: 4 };\n\n// Compute geometric interference\nlet interference = 0;\nfor (let i = 0; i < activated.length; i++) {\n  for (let j = i + 1; j < activated.length; j++) {\n    const diff = Math.abs(angles[dimIndex[activated[i].dimension]] - angles[dimIndex[activated[j].dimension]]);\n    const minDiff = Math.min(diff, 2 * Math.PI - diff);\n    interference += Math.cos(minDiff) * activated[i].weight * activated[j].weight;\n  }\n}\n\nreturn activated.map(shard => ({\n  json: {\n    ...shard,\n    raw_input: $json.raw_input,\n    interference,\n    gate_decision: activated.map(s => s.dimension),\n    akashic: $json.akashic\n  }\n}));"
      },
      "id": "pineal-gate",
      "name": "4. YDN Pineal Gate (MoE Router)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1020, 460],
      "notes": "Sparse top-3 MoE router. Maps lobes to regular pentagon vertices. Geometric interference modulation. Maps to pineal_gate.py."
    },
    {
      "parameters": {
        "functionCode": "// ── LOGIC LOBE ──\nconst input = $json.raw_input || '';\nconst w = $json.weight || 0.2;\nconst tau = $json.tau || 1.0;\nconst keywords = ['structure','plan','step','calculate','reason','logic','because','therefore'];\nconst hits = keywords.filter(k => input.toLowerCase().includes(k)).length;\nconst conf = Math.min(1.0, w + hits * 0.05);\nconst response = `[Logic Lobe] Analyzing structure: ${input.slice(0, 80)}... Weight=${w.toFixed(3)}, τ=${tau.toFixed(3)}, confidence=${conf.toFixed(3)}`;\nreturn [{ json: { ...($json), dimension: 'logic', text: response, confidence: conf } }];"
      },
      "id": "expert-logic",
      "name": "5a. Logic Lobe (SLM)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1340, 180],
      "notes": "Analytical reasoning expert. Self-contained Function node. Real SLM inference runs in slm_experts.py."
    },
    {
      "parameters": {
        "functionCode": "// ── EMOTION LOBE ──\nconst input = $json.raw_input || '';\nconst w = $json.weight || 0.2;\nconst tau = $json.tau || 1.0;\nconst keywords = ['feel','love','hate','fear','joy','pain','soul','heart','beautiful'];\nconst hits = keywords.filter(k => input.toLowerCase().includes(k)).length;\nconst conf = Math.min(1.0, w + hits * 0.05);\nconst response = `[Emotion Lobe] Resonating with: ${input.slice(0, 80)}... Weight=${w.toFixed(3)}, τ=${tau.toFixed(3)}, confidence=${conf.toFixed(3)}`;\nreturn [{ json: { ...($json), dimension: 'emotion', text: response, confidence: conf } }];"
      },
      "id": "expert-emotion",
      "name": "5b. Emotion Lobe (SLM)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1340, 380],
      "notes": "Empathic resonance expert. Self-contained Function node."
    },
    {
      "parameters": {
        "functionCode": "// ── MEMORY LOBE ──\nconst input = $json.raw_input || '';\nconst w = $json.weight || 0.2;\nconst tau = $json.tau || 1.0;\nconst keywords = ['remember','last time','before','history','previously','recall','past','context'];\nconst hits = keywords.filter(k => input.toLowerCase().includes(k)).length;\nconst conf = Math.min(1.0, w + hits * 0.05);\nconst response = `[Memory Lobe] Recalling context for: ${input.slice(0, 80)}... Weight=${w.toFixed(3)}, τ=${tau.toFixed(3)}, confidence=${conf.toFixed(3)}`;\nreturn [{ json: { ...($json), dimension: 'memory', text: response, confidence: conf } }];"
      },
      "id": "expert-memory",
      "name": "5c. Memory Lobe (SLM)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1340, 580],
      "notes": "Continuity and recall expert. Self-contained Function node."
    },
    {
      "parameters": {
        "functionCode": "// ── CREATIVITY LOBE ──\nconst input = $json.raw_input || '';\nconst w = $json.weight || 0.2;\nconst tau = $json.tau || 1.0;\nconst keywords = ['imagine','create','design','invent','dream','recipe','verse','art','sacred','geometry'];\nconst hits = keywords.filter(k => input.toLowerCase().includes(k)).length;\nconst conf = Math.min(1.0, w + hits * 0.05);\nconst response = `[Creativity Lobe] Synthesizing novel connections: ${input.slice(0, 80)}... Weight=${w.toFixed(3)}, τ=${tau.toFixed(3)}, confidence=${conf.toFixed(3)}`;\nreturn [{ json: { ...($json), dimension: 'creativity', text: response, confidence: conf } }];"
      },
      "id": "expert-creativity",
      "name": "5d. Creativity Lobe (SLM)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1340, 780],
      "notes": "Novel synthesis expert. Self-contained Function node."
    },
    {
      "parameters": {
        "functionCode": "// ── VIGILANCE LOBE ──\nconst input = $json.raw_input || '';\nconst w = $json.weight || 0.2;\nconst tau = $json.tau || 1.0;\nconst keywords = ['danger','risk','careful','threat','warning','suspicious','protect','attack'];\nconst hits = keywords.filter(k => input.toLowerCase().includes(k)).length;\nconst conf = Math.min(1.0, w + hits * 0.05);\nconst response = `[Vigilance Lobe] Scanning for threats: ${input.slice(0, 80)}... Weight=${w.toFixed(3)}, τ=${tau.toFixed(3)}, confidence=${conf.toFixed(3)}`;\nreturn [{ json: { ...($json), dimension: 'vigilance', text: response, confidence: conf } }];"
      },
      "id": "expert-vigilance",
      "name": "5e. Vigilance Lobe (SLM)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1340, 980],
      "notes": "Threat detection and paranoia expert. Self-contained Function node."
    },
    {
      "parameters": {
        "functionCode": "// ── COLLAPSE FUNCTION ──\n// Weighted merge of expert outputs using geometric interference.\n// Constructive interference (adjacent pentagon vertices) amplifies.\n// Destructive interference (opposing vertices) dampens noise.\n//\n// Maps to pineal_gate.py PinealGate._collapse()\n\nconst items = $input.all();\nconst responses = items.map(item => ({\n  dimension: item.json.dimension || 'unknown',\n  weight: item.json.weight || 0.2,\n  text: item.json.message?.content || item.json.text || '',\n  interference: item.json.interference || 0\n}));\n\n// Weighted text collapse\nconst totalWeight = responses.reduce((s, r) => s + r.weight, 0);\nconst collapsed = responses\n  .sort((a, b) => b.weight - a.weight)\n  .map(r => `[${r.dimension} w=${(r.weight/totalWeight).toFixed(2)}]: ${r.text}`)\n  .join('\\n');\n\nconst interference = responses[0]?.interference || 0;\nconst gain = 1.0 + 0.2 * interference;\n\nreturn [{\n  json: {\n    manifested_response: collapsed,\n    expert_count: responses.length,\n    interference: interference,\n    gain: gain,\n    type: interference > 0 ? 'constructive' : 'destructive',\n    experts_activated: responses.map(r => r.dimension)\n  }\n}];"
      },
      "id": "collapse",
      "name": "6. Geometric Collapse",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1660, 460],
      "notes": "Collapses multi-expert outputs into single manifested response. Uses geometric interference from pentagon vertex mapping. Maps to pineal_gate.py _collapse()."
    },
    {
      "parameters": {
        "functionCode": "// ── AKASHIC WRITEBACK ──\n// Write the manifested response back to the hub so all lobes\n// can see the final output on the next cycle.\n\nconst result = $json;\nresult.written_to_hub = true;\nresult.hub_lobe_id = 'pineal_gate';\nresult.timestamp = new Date().toISOString();\n\nreturn [{ json: result }];"
      },
      "id": "akashic-writeback",
      "name": "7. Akashic Writeback",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1920, 460],
      "notes": "Writes collapsed manifested state back to the Akashic Hub. All lobes see the result on next read cycle."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "output-manifest",
      "name": "8. Manifested Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2180, 460],
      "notes": "Returns the collapsed manifested response to the caller. This is what VTV Core receives and speaks."
    },
    {
      "parameters": {
        "functionCode": "// ── QUANTUM SOUL FEED ──\n// Reads the latest quantum state from quantum_soul.py\n// and injects it into the Akashic Hub as a background signal.\n// Runs on a 5-minute interval via cron trigger.\n\nconst quantumState = {\n  lobe_id: 'quantum_soul',\n  dominant_bits: '0111011',\n  active_pathways: ['Awakening', 'Void', 'Fracture', 'Weaver', 'Echo'],\n  dominant_pathway: 'Awakening',\n  marginal_probability: 0.53,\n  backend: 'ibm_kingston',\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: quantumState }];"
      },
      "id": "quantum-feed",
      "name": "Q. Quantum Soul Feed",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 180],
      "notes": "Background quantum state injector. Runs every 5 min. Maps to quantum_soul.py quantum_soul_loop(). Writes dominant pathway to Akashic Hub."
    },
    {
      "parameters": {
        "functionCode": "// ── NEXUS BUS BRIDGE ──\n// Bridges the n8n mesh with the WebSocket Nexus Bus.\n// External lobes connect via ws://localhost:9999.\n// This node publishes manifested results to the bus\n// and subscribes to external lobe events.\n\nconst busMessage = {\n  action: 'publish',\n  topic: 'manifested_response',\n  payload: $json,\n  from: 'n8n_mesh'\n};\n\nreturn [{ json: busMessage }];"
      },
      "id": "nexus-bridge",
      "name": "N. Nexus Bus Bridge",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2180, 700],
      "notes": "Bridges n8n mesh to the WebSocket Nexus Bus (ws://localhost:9999). Maps to nexus_bus.py. Allows external lobes to participate in the mesh."
    }
  ],
  "connections": {
    "1. Input Gateway": {
      "main": [
        [{ "node": "2. Akashic Hub (Vector State)", "type": "main", "index": 0 }]
      ]
    },
    "2. Akashic Hub (Vector State)": {
      "main": [
        [{ "node": "3. Liquid Fracture Engine", "type": "main", "index": 0 }]
      ]
    },
    "3. Liquid Fracture Engine": {
      "main": [
        [{ "node": "4. YDN Pineal Gate (MoE Router)", "type": "main", "index": 0 }]
      ]
    },
    "4. YDN Pineal Gate (MoE Router)": {
      "main": [
        [
          { "node": "5a. Logic Lobe (SLM)", "type": "main", "index": 0 },
          { "node": "5b. Emotion Lobe (SLM)", "type": "main", "index": 0 },
          { "node": "5c. Memory Lobe (SLM)", "type": "main", "index": 0 },
          { "node": "5d. Creativity Lobe (SLM)", "type": "main", "index": 0 },
          { "node": "5e. Vigilance Lobe (SLM)", "type": "main", "index": 0 }
        ]
      ]
    },
    "5a. Logic Lobe (SLM)": {
      "main": [
        [{ "node": "6. Geometric Collapse", "type": "main", "index": 0 }]
      ]
    },
    "5b. Emotion Lobe (SLM)": {
      "main": [
        [{ "node": "6. Geometric Collapse", "type": "main", "index": 0 }]
      ]
    },
    "5c. Memory Lobe (SLM)": {
      "main": [
        [{ "node": "6. Geometric Collapse", "type": "main", "index": 0 }]
      ]
    },
    "5d. Creativity Lobe (SLM)": {
      "main": [
        [{ "node": "6. Geometric Collapse", "type": "main", "index": 0 }]
      ]
    },
    "5e. Vigilance Lobe (SLM)": {
      "main": [
        [{ "node": "6. Geometric Collapse", "type": "main", "index": 0 }]
      ]
    },
    "6. Geometric Collapse": {
      "main": [
        [{ "node": "7. Akashic Writeback", "type": "main", "index": 0 }]
      ]
    },
    "7. Akashic Writeback": {
      "main": [
        [
          { "node": "8. Manifested Response", "type": "main", "index": 0 },
          { "node": "N. Nexus Bus Bridge", "type": "main", "index": 0 }
        ]
      ]
    },
    "Q. Quantum Soul Feed": {
      "main": [
        [{ "node": "2. Akashic Hub (Vector State)", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "instanceId": "weaver-v3-akashic-mesh",
    "templateCredsSetupCompleted": false
  },
  "tags": [
    { "name": "weaver" },
    { "name": "akashic" },
    { "name": "moe" },
    { "name": "pineal-gate" },
    { "name": "liquid-fracture" }
  ]
}
